.catalogCardTwoPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: nowrap;
  line-height: 1;
  color: var(--text-color-price);
  padding: 0px 5px;
}

.catalogCardRegPrice {
  display: flex;
  font-weight: 500;
  text-decoration: line-through;
  font-size: 0.7rem;
  align-items: center;
  justify-content: flex-end;
  color: #738895;
}

.catalogCardDiscPrice {
  color: var(--text-price-discount);
}


.catalogCardDiscPrice,
.catalogCardNormalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.catalogCardNormalPrice {
  line-height: 2;
}