.categoryCard {
  height: 183px;
  margin: 10px 5px -10px 5px;
  border-radius: 16px;
}

.categoryCard:hover {
  transform: scale(1.05);
  transition: all .2s;
}

.categoryTitle {
  z-index: 999;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categoryTitle div[class~='ant-card-meta-title'] {
  white-space: pre-wrap;
  font-size: 30px;
}

.gradient {
  position: absolute;
  top: 0;
  height: 100%;
  width: 101%;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--bg-color-main));
  margin-left: -25px;
  transition: all 2s ease;
}

.gradient:hover {
  background: linear-gradient(rgba(0, 0, 0, 0), var(--color-accent));
}

@media (max-width: 472px) {
  .categoryCard:hover {
    transform: none;
    transition: none;
  }
}