.productBackground {
  display: flex;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  justify-content: center;
  background-size: 100% 30vw;
}

.productCont {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 940px;
}

.productTitleCont {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
  padding: 30px 10px 0px;
}

.productTitle {
  font-size: 26px;
  margin: 0px;
}

.pathCont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 3px;
}

.pathLink {
  font-size: 14px;
  color: var(--text-accent);
  opacity: 0.6;
}

.pathLink:hover {
  color: var(--color-text);
  opacity: 0.9;
}

.pathGameTitle {
  text-transform: uppercase;
}

.headerBlockCont {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
  padding: 0 0 25px;
}

.imgCarousel {
  width: 600px;
  height: 338px;
}

.carouselDots {
  bottom: -5px !important;
}

.carouselDots button {
  height: 6px !important;
  background-color: var(--bg-color-main-invert) !important;
  bottom: -16px !important;
}

.imgCarouselCont {
  width: 600px;
  height: 338px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.centerVertically {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.headerBlockContRight {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.headerImg {
  width: 325px;
  height: 151px;
}

.headerTextdapt {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.shortDescCont {
  font-size: 12px;
  text-align: left;
  padding-right: 16px;
}

.detailsData {
  display: flex;
  flex-direction: column;
}

.tagProdPrice {
  display: flex;
}

/* Discount cont */
.dicountPriceCont {
  display: flex;
  background-color: var(--bg-price);
  color: var(--text-color-price);
  border-radius: 2px;
}

.priceSection {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  background-color: var(--bg-price);
  color: var(--text-color-price);
  padding: 5px 5px;
  border-radius: 2px;
}

.discountSize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-price-discount);
  padding: 0px 5px;
  font-size: 17px;
  font-weight: 600;
  background-color: var(--bg-price-discount);
}

.doublePriceCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalogCardTwoPrice {
  color: var(--text-color-price);
}


.recentReview {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  height: 16px;
}

.allReview {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  height: 16px;
}

.reviewText {
  text-align: left;
  width: 104px;
}

.reviewTextResult {
  margin-right: 4px;
}

.releaseDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  height: 38px;
}

.releaseText {
  text-align: left;
  width: 104px;
}

.developData {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  height: 16px;
}

.developText {
  text-align: left;
  width: 104px;
}

.mainCont {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.mainLeft {
  width: 616px;
}

.priceCont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 72px;
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
  border-radius: 4px;
  font-size: 21px;
}

.mainPriceCont {
  position: absolute;
  height: 36px;
  right: 18px;
  bottom: -18px;
  font-size: 13px;
}

/*dead */
/* .regPriceCont {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  background-color: var(--bg-color-accent);
  color: var(--color-text-accent);
  padding: 4px 4px;
} */

.regPriceText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: var(--text-price-normal);
  padding: 0 5px;
}

.regularPriceCont {
  font-size: 11px;
  text-decoration: line-through;
}

.aboutGame {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: left;
}

.aboutGameTitle {
  position: relative;
  font-size: 16px;
}

.aboutGameTitle::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  /* Adjust the height to control the thickness of the "border" */
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
}

.sysReq {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sysReqTitle {
  position: relative;
  font-size: 16px;
  text-align: left;
}

.sysReqTitle::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  /* Adjust the height to control the thickness of the "border" */
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
}

.reqNameForCont {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}

.reqRow {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  text-align: left;
}

.reqName {
  font-weight: 600;
}

.reqMinAndRec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reqMin,
.reqRec {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 49%;
}

.mainRight {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.tagsCont {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 308px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.tagCont {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  height: 26px;
}

.tagTextCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.randProductsCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 16px; */
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%); */
  margin: 0 auto;
  /* width: 892px; */
  margin: 20px auto;
}

.randomCard {
  margin: 0px 5px -10px 0px;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  transition: 0.5s;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.discCardTwoPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.discCardRegPrice {
  font-weight: 400;
  text-decoration: line-through;
}

.discCardDiscPrice,
.discCardNormalPrice {
  font-weight: 500;
}

.additInfoMainCont {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 308px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.additInfoGameTitle,
.additInfoGameTheme,
.additInfoGameGenre {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 5px;
  min-height: 22px;
}

.additInfoGameDev {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 5px;
  min-height: 22px;
}

.additInfoDevTitle {
  font-size: 13px;
  opacity: 0.6;
}

.additInfoDevText {
  text-align: left;
}

.additInfoTitle {
  font-size: 13px;
  opacity: 0.6;
}

.additInfoText {
  font-size: 13px;
}

.additInfoLinks {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.genreLink,
.themeLink,
.devLink {
  color: var(--text-accent);
  opacity: 0.6;
}

.genreLink:hover,
.themeLink:hover,
.devLink:hover {
  color: var(--color-text);
  opacity: 0.9;
}
/* Ant-tollbar */
.tolbarCustom {
  background-color: var(--color-accent);
  display: flex;
  min-width: 150px;
  max-width: 10%;
  justify-content: space-evenly;
  border-radius: 6px;
}

.zoomOut,
.zoomIn {
  display: flex;
  min-height: 50px;
  flex-grow: 1
}

.zoomOut {
  border-right: 1px solid;
}

.zoomIn {
  border-left: 1px solid;
}


.iconsCont {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.imgCarouselCounter {
  display: flex;
  background-color: var(--bg-color-accent);
}

.maskAnt {
  background-color: aqua;
}

.imgPlaceHolder {
  position: relative;
  padding: 10px;
  border-radius: 3px;
  background: -webkit-linear-gradient(315deg, #356480 5%, #1a303d 95%);
  background: linear-gradient(135deg, #356480 5%, #1a303d 95%);
}
/* end toolbar */

@media (max-width: 945px) {
  .productCont {
    width: 100%;
    margin: 0px 10px;
  }

  .headerBlockCont {
    flex-direction: column;
    row-gap: 16px;
  }

  .headerBlockContRight {
    flex-direction: row;
    width: 100%;
    column-gap: 10px;
    order: -1;
  }

  .headerImgAdapt {
    width: 50%;
  }

  .headerImg {
    width: 100%;
    height: auto;
  }

  .headerTextdapt {
    width: 50%;
  }

  .headerBlockContLeft {
    width: 100%;
    height: auto;
  }

  .imgCarouselCounter {
    display: flex;
    background-color: var(--bg-color-accent);
  }

  .imgCarousel {
    width: 100%;
    height: auto;
  }

  .mainCont {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 16px;
    padding: 0 10px;
  }

  .mainLeft {
    width: 100%;
  }

  .mainRight {
    /* margin: 0 auto; */
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
  }
}

@media (max-width: 756px) {
  .tagsCont,
  .additInfoMainCont {
    height: 100%;
  }
  .headerBlockContRight {
    flex-direction: row;
  }

  .mainRight {
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }

  .headerImgAdapt,
  .headerTextdapt {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (max-width: 550px) {
  .mainRight {
    flex-direction: column;
    width: 100%;
  }
  .tagsCont,
  .additInfoMainCont {
    height: 100%;
    width: 100%;
  }
  .headerBlockContRight {
    flex-direction: column;
  }

  .reqMinAndRec {
    flex-direction: column;
    row-gap: 15px;
  }

  .reqMin,
  .reqRec {
    width: 100%;
  }

  .reqNameForCont {
    text-align: center;
  }
}

@media (max-width: 338px) {
  .tagsCont {
    width: 300px;
  }
}

@media (max-width: 912px) {
  .randProductsCont {
    width: 672px;
  }
}

@media (max-width: 692px) {
  .randProductsCont {
    width: 452px;
  }
}

@media (max-width: 472px) {
  .randProductsCont {
    width: 242px;
  }

  .pathLink {
    font-size: 11px;
  }
}
