.menuMain {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  flex-basis: 33.33%;
  justify-content: center;
}

.menuItems {
  display: flex;
  background-color: var(--bg-color-menu);
  width: 100%;
  border-bottom: none;
  justify-content: center;
}

.menuItemsLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.avatarPointer {
  cursor: pointer;
}

.leftMenuCont {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-grow: 1;
  flex-basis: 33.33%;
  justify-content: flex-end;
}

.cartLink {
  display: flex !important;
  align-items: center;
}

.userMenuItem {
  display: flex;
}

.menuReg {
  display: flex;
  align-items: center;
  width: auto;
  min-width: 270px;
  justify-content: space-around;
}

.menuReg>.menuItems {
  display: flex;
  background-color: var(--bg-color-menu);
  width: 100%;
  justify-content: flex-end;
  border-bottom: none;
}

.menuBadge {
  display: flex !important;
  gap: 10px;
  align-items: center;
}

.loginName {
  display: none;
  gap: 10px;
  align-items: center;
}

.cartBadge {
  display: none;
}

.cartMenuItem {
  display: flex;
}

.menuIcon {
  display: none;
  font-size: 32px !important;
}

.userMenuBadge {
  display: flex;
  align-items: center;
  gap: 10px;
}


@media (max-width: 780px) {
  .menuReg {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    margin: 0%;
  }

  .leftMenuCont {
    flex-direction: column-reverse;
  }

  .cartLink {
    margin: 0 auto;
    gap: 1rem;
  }

  .cartBadge {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .menuBadge {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
  }

  .userMenuBadge{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

