@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --color-text-carousel: #fff;
  --color-text-carousel-shadow: #000;
  --color-gradient-start: #1677ff94;
  --color-gradient-end: #ff000059;
  --bg-price-discount: #4c6b22;
}


::-webkit-scrollbar {
  height: 12px;
  background: transparent;
  z-index: 12;
  overflow: visible
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0,0,0,0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e5157
}

::-webkit-scrollbar-corner {
  background: #202020;
}
